.bottom_btn {
  position: fixed;
  z-index: 7777;
  height: 0.45rem;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: 0;
  border-top: solid 0.01rem #ccc;
  overflow: hidden;
}
.bottom_btn ul {
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.bottom_btn ul:first-child li {
  float: left;
  width: 30%;
  text-align: center;
  position: relative;
}
.bottom_btn ul:first-child li span {
  position: absolute;
  z-index: 1;
  top: -.02rem;
  right: 0.05rem;
  width: 0.15rem;
  height: 0.15rem;
  line-height: 0.15rem;
  border-radius: 50%;
  background: #f00;
  color: #fff;
  font-family: "arial, helvetica, sans-serif";
  font-size: 0.1rem;
}
.bottom_btn ul:first-child li:before {
  position: absolute;
  z-index: 1;
  left: -.01rem;
  top: 0;
  content: "";
  display: block;
  width: 0.01rem;
  height: 0.45rem;
  background: #ddd;
}
.bottom_btn ul:first-child li:last-child:before {
  display: none;
}
.no_buy ul:first-child li:last-child:before {
  display: block;
}
.bottom_btn ul:first-child li:first-child,
.bottom_btn ul:first-child li:nth-child(2) {
  width: 20%;
  color: #5f646e;
  font-size: 0.12rem;
  margin-top: 0.05rem;
}
.bottom_btn ul:first-child li i {
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  overflow: hidden;
  margin: 0 auto;
  font-size: 0.02rem;
  color: #888;
  margin-top: 0.02rem;
  &:before{
      content:'\e900'
  }
}
// .bottom_btn ul:first-child li i.icon-soumai {
//   color: #f60;
// }
.bottom_btn ul:first-child li a {
  height: 0.45rem;
  background: #ff9100;
  color: #fff;
  border: none;
  display: block;
  line-height: 0.45rem;
  font-size: .1rem;
  font-family: "Microsoft YaHei", " Arial";
}
.bottom_btn ul:first-child li:last-child a {
  background: #dd2727;
}
